
.fa-spin-slower{
    animation: fa-spin 4s linear infinite;
}

.mindflow-brand{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;

     

}



#task-form-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    justify-content: center;
    align-items: center;
    z-index: 1000;
}



#task-form{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

